@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-base bg-white text-dark font-normal font-manrope transition-all duration-500 ease-in-out m-0 p-0;
    }
    html {
        scroll-behavior: smooth;
        /* font-size: 62.5%; */
    }
    *,
    *::before,
    *::after {
        @apply m-0 p-0 box-border;
    }

    ::-webkit-scrollbar {
        @apply w-4 h-4;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-gray-darken-1 rounded-[100vh] border-solid border-4 border-dark;
    }

    ::-webkit-scrollbar-track {
        @apply bg-dark;
    }
}

@layer components {
    /* .drawer > .p-drawer-mask .p-overlay-mask .p-overlay-mask-enter {
        @apply !bg-red-500 !important;
    } */
    .p-drawer-mask {
        background-color: red !important;
    }
    .p-inputtext{
        transition: all 0.2s ease-in !important;
        @apply ease-out py-4 px-4 border border-gray1 text-sm
        text-black focus:border-dark placeholder:text-gray1
        outline-none placeholder:text-[12px] !important;
    }
    .p-checkbox .p-component{
        @apply bg-white !important;
    }
    .p-checkbox-input{
        @apply bg-white !important;
    }
    .gray-btn > .p-button{
        @apply bg-gray-200 text-md font-bold text-dark border w-full py-[13px] 
        px-6 border-[#EDF1F3] rounded-lg !important;
    }
    .primary-btn > .p-button{
        @apply bg-primary shadow-[0px_-3px_2px_0px_rgba(225,97,25,1)_inset] 
        rounded-lg text-md font-bold text-white border w-full !py-3 
        px-6 border-primary !important;
    }

    .primary-btn2 {
        @apply bg-primary 
        rounded-lg text-md font-bold text-white border w-full py-2 
        px-6 border-primary ;
    }
}

@layer utilities {
    .action-link {
        @apply transition-all  text-md 
         duration-200 ease-in-out
        hover:text-info-darken-1 hover:underline;
    }
}